<div class="container-fluid mt-3">
<div class="alert alert-light" role="alert">
  This is a light alert—check it out!
</div>
  <div class="row">

    <div class="col-sm-6 ">
      <div class="card">
        <h5 class="card-header">Lista de grupos</h5>
        <div class="card-body">
          <h5 class="card-title">Seleccione alguno de estos grupos / solistas:</h5>
    
          <vfg-check-list [list]="grupos" [label]="label" (update)="updateUno($event)"></vfg-check-list>
    
          <blockquote class="blockquote mb-0">
            <footer class="blockquote-footer">Grupos seleccionados:
              <cite title="Source Title">{{ selectedUno | json}}</cite>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>

    <div class="col-sm-6 ">
      <div class="card">
        <h5 class="card-header">Lista de discos</h5>
        <div class="card-body">
          <h5 class="card-title">Seleccione alguno de estos discos:</h5>
    
          <vfg-check-list [list]="discos" [label]="otralabel" (update)="updateDos($event)"></vfg-check-list>
    
          <blockquote class="blockquote mb-0">
            <footer class="blockquote-footer">Discos seleccionados:
              <cite title="Source Title">{{ selectedDos | json}}</cite>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>

  </div>
</div>
