<div class="container-fluid mt3">
  <div class="alert alert-light" role="alert">
    A partir de una lista el componente muestra el primer elemento. Si hacemos click en el muestra el resto de elementos. He añadido un temporizador que va modificando los elementos de la lista que se pasa al componente.
  </div>
  <div class="row m-1 border rounded">
    <div class="col-4 bg-light">
      <i class="material-icons">check</i> Haz click 
    </div>
    <div class="col-8">
		<vfg-dropdown-list [list]="listaFija"></vfg-dropdown-list>
    </div>
  </div>
</div>
