<div class="container-fluid p-md-3">

  <div class="row">
    <div class="col-sm-3 ">
      <div class="card">
        <h5 class="card-header">Reservas</h5>
        <div class="card-body">
          <div class="btn-group-vertical">
           <button type="button" class="btn btn-primary btn-sm" (click)="addReserva()">Añadir</button>
           <button type="button" class="btn btn-primary btn-sm"(click)="removeReserva()">Quitar</button>
          </div>
        </div>
      </div>
    </div>

  <ngb-accordion #acc="ngbAccordion" activeIds="panel1" class="col-sm-9">
    <ngb-panel id="panel1">
      <ng-template ngbPanelTitle>
        <span>Miercoles 5</span>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="container-fluid m-0 p-0 border border-top-0 border-right-0 border-left-0" *ngFor="let item of reservas; let last=last" [ngClass]="{'border-bottom-0': last}">
       <reserva [reserva]="item"></reserva>
     </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
