<header>
<nav class="navbar navbar-expand-lg  navbar-dark bg-danger">
  <a class="navbar-brand" [routerLink]="'home'" [routerLinkActive]="['active']">
  		<img src="/assets/angular-vfg.png" width="30" height="30" class="d-inline-block align-top" alt="" />
  		VfgAngular
  </a>
  <button class="navbar-toggler" type="button" 
  	data-toggle="collapse" 
  	data-target="#navbarSupportedContent" 
  	aria-controls="navbarSupportedContent" 
  	(click)="isCollapsed = !isCollapsed" 
  	[attr.aria-expanded]="!isCollapsed"
  	aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'checklist'" [routerLinkActive]="['active']">Check List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'agenda'" [routerLinkActive]="['active']">Agenda</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'arrayService'" [routerLinkActive]="['active']">Array Utils</a>
      </li>
      
      <li ngbDropdown class="nav-item dropdown">

      	<a class="nav-link" id="navbarDropdown" ngbDropdownToggle aria-haspopup="true" aria-expanded="false">Mas</a>

        <div ngbDropdownMenu class="dropdown-menu " aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="'flatarraypipe'" [routerLinkActive]="['active']">FlatArrayPipe</a>
          <a class="dropdown-item" [routerLink]="'mapiterablepipe'" [routerLinkActive]="['active']">MapIterablePipe</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="'dropdownlist'" [routerLinkActive]="['active']">DropDownList</a>
        </div>

      </li>

    </ul>
  

<div class="navbar-text">
<a target="_blank" href="https://www.linkedin.com/in/vifergo/" class="vfg fa fa-linkedin border border-light rounded"></a>
    <a target="_blank" href="https://twitter.com/vifergo?ref_src=twsrc%5Etfw" class="vfg fa fa-twitter border border-light rounded">
      </a>
</div>
</div>

</nav>

</header>