<header>
<nav class="navbar navbar-expand-lg  navbar-dark bg-danger">
  <a class="navbar-brand" [routerLink]="'home'" [routerLinkActive]="['active']">
  		<img src="/assets/angular-vfg.png" width="30" height="30" class="d-inline-block align-top" alt="" />
  		VfgAngular
  </a>
  <button class="navbar-toggler" type="button" 
  	data-toggle="collapse" 
  	data-target="#navbarSupportedContent" 
  	aria-controls="navbarSupportedContent" 
  	(click)="isCollapsed = !isCollapsed" 
  	[attr.aria-expanded]="!isCollapsed"
  	aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="'checklist'" [routerLinkActive]="['active']">Check List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Accion 1</a>
      </li>

      <li ngbDropdown class="nav-item dropdown">

      	<a class="nav-link" id="navbarDropdown" ngbDropdownToggle aria-haspopup="true" aria-expanded="false">Mas</a>

        <div ngbDropdownMenu class="dropdown-menu " aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action 2</a>
          <a class="dropdown-item" href="#">Action 3</a>
          <a class="dropdown-item" href="#">Action 4</a>
        </div>

      </li>

    </ul>
  </div>
</nav>

</header>